body{
    background-color: rgb(18, 2, 2);
}

#red{
    text-align: center;
}
#gang{
    text-align: center;
    color: rgb(5, 217, 250);
    border: palegreen 1cap;

}
ul{
    list-style: none;
    margin: 0;
    padding:  0;
   }

    li{
        float: left;
    }

   li a {
     display: block;
    padding: 10px;
    background-color: pink;

}
  
#bob {display: block;
margin-left: auto;
margin-right: auto;
width: 50%;}